In [1]:
import pandas as pd

movies = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
credits = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [2]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
import sqlite3

conn = sqlite3.connect("../data/movies_database.db")

movies.to_sql("movies_table", conn, if_exists = "replace", index = False)
credits.to_sql("credits_table", conn, if_exists = "replace", index = False)

OperationalError: unable to open database file

In [2]:
import psycopg2
conn=psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="ManzanaOrganico1",
    host="localhost",
    port="5432"

)

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [3]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="ManzanaOrganico1",
    host="localhost",
    port="5432"
)

In [6]:
import psycopg2

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="ManzanaOrganico1",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

# Create table with JSONB columns for cast and crew
cur.execute("""
    CREATE TABLE IF NOT EXISTS tmdb_credits (
        movie_id INT PRIMARY KEY,
        title VARCHAR(255),
        "cast" JSONB,
        "crew" JSONB
    )
""")

conn.commit()
cur.close()
conn.close()

In [8]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Load the CSV file
df = pd.read_csv("tmdb_500_credits.csv")

# Convert string JSON to actual JSON format
df["cast"] = df["cast"].apply(lambda x: x.replace("'", '"'))  # Ensure valid JSON
df["crew"] = df["crew"].apply(lambda x: x.replace("'", '"'))

# Connect to PostgreSQL using SQLAlchemy
engine = create_engine("postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres")

# Upload to PostgreSQL
df.to_sql("tmdb_credits", engine, if_exists="replace", index=False)

print("CSV uploaded successfully!")

FileNotFoundError: [Errno 2] No such file or directory: 'tmdb_500_credits.csv'

In [9]:
import pandas as pd

df = pd.read_csv("tmdb_5000_credits.csv")  # Use the correct file name
print(df.head())  # Check if the file loads correctly

   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [10]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json

# Load CSV
df = pd.read_csv("tmdb_5000_credits.csv")

# Convert `cast` and `crew` to JSON format
df["cast"] = df["cast"].apply(json.loads)  # Convert string to JSON
df["crew"] = df["crew"].apply(json.loads)

# Rename columns to avoid SQL reserved words
df.rename(columns={"cast": "cast_data", "crew": "crew_data"}, inplace=True)

# Connect to PostgreSQL using SQLAlchemy
engine = create_engine("postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres")

# Upload data to PostgreSQL
df.to_sql("tmdb_credits", engine, if_exists="replace", index=False)

print("CSV uploaded successfully!")

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'dict'
[SQL: INSERT INTO tmdb_credits (movie_id, title, cast_data, crew_data) VALUES (%(movie_id__0)s, %(title__0)s, %(cast_data__0)s, %(crew_data__0)s), (%(movie_id__1)s, %(title__1)s, %(cast_data__1)s, %(crew_data__1)s), (%(movie_id__2)s, %(title__2)s, %(cast_d ... 76280 characters truncated ... )s, %(crew_data__998)s), (%(movie_id__999)s, %(title__999)s, %(cast_data__999)s, %(crew_data__999)s)]
[parameters: {'cast_data__0': [{'cast_id': 242, 'character': 'Jake Sully', 'credit_id': '5602a8a7c3a3685532001c9a', 'gender': 2, 'id': 65731, 'name': 'Sam Worthington', 'order': 0} ... (12619 characters truncated) ... 2, 'character': 'Ambient Room Tech / Troupe', 'credit_id': '52fe48019251416c750acb6f', 'gender': 1, 'id': 42286, 'name': 'Julene Renee', 'order': 82}], 'movie_id__0': 19995, 'crew_data__0': [{'credit_id': '52fe48009251416c750aca23', 'department': 'Editing', 'gender': 0, 'id': 1721, 'job': 'Editor', 'name': 'Stephen E. Rivkin'}, {'credit_i ... (22531 characters truncated) ... me': 'Ben White'}, {'credit_id': '573c8e2f9251413f5d000094', 'department': 'Crew', 'gender': 1, 'id': 1621932, 'job': 'Stunts', 'name': 'Min Windle'}], 'title__0': 'Avatar', 'cast_data__1': [{'cast_id': 4, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe4232c3a36847f800b50d', 'gender': 2, 'id': 85, 'name': 'Johnny Depp', 'order': 0 ... (4879 characters truncated) ... st_id': 67, 'character': 'Captain Ammand', 'credit_id': '58e2a21ac3a36872af00f9c2', 'gender': 0, 'id': 70577, 'name': 'Ghassan Massoud', 'order': 33}], 'movie_id__1': 285, 'crew_data__1': [{'credit_id': '52fe4232c3a36847f800b579', 'department': 'Camera', 'gender': 2, 'id': 120, 'job': 'Director of Photography', 'name': 'Dariusz Wolski'} ... (4283 characters truncated) ... en'}, {'credit_id': '56427d169251412fd4000e23', 'department': 'Sound', 'gender': 0, 'id': 1534197, 'job': 'Music Editor', 'name': 'Katie Greathouse'}], 'title__1': "Pirates of the Caribbean: At World's End", 'cast_data__2': [{'cast_id': 1, 'character': 'James Bond', 'credit_id': '52fe4d22c3a368484e1d8d6b', 'gender': 2, 'id': 8784, 'name': 'Daniel Craig', 'order': 0}, {'ca ... (12523 characters truncated) ... ': 249, 'character': 'Pilot David', 'credit_id': '585ab69fc3a3682fb8091219', 'gender': 2, 'id': 1725801, 'name': 'Matija Mondi Matović', 'order': 82}], 'movie_id__2': 206647, 'crew_data__2': [{'credit_id': '54805967c3a36829b5002c41', 'department': 'Sound', 'gender': 2, 'id': 153, 'job': 'Original Music Composer', 'name': 'Thomas Newman'},  ... (22922 characters truncated) ... ano Marino'}, {'credit_id': '56cd7899c3a3682759001bfd', 'department': 'Lighting', 'gender': 0, 'id': 1582109, 'job': 'Gaffer', 'name': 'Hanz Kawson'}], 'title__2': 'Spectre', 'cast_data__3': [{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '52fe4781c3a36847f8139869', 'gender': 2, 'id': 3894, 'name': 'Christian Bale', 'orde ... (25308 characters truncated) ...  385, 'character': 'Thug #2 in Basement', 'credit_id': '59309c45c3a3686a70000458', 'gender': 2, 'id': 1536670, 'name': 'Daniel Newman', 'order': 158}], 'movie_id__3': 49026, 'crew_data__3': [{'credit_id': '52fe4781c3a36847f81398c3', 'department': 'Sound', 'gender': 2, 'id': 947, 'job': 'Original Music Composer', 'name': 'Hans Zimmer'}, {' ... (31372 characters truncated) ... edit_id': '577852f992514136e100208d', 'department': 'Production', 'gender': 0, 'id': 1644543, 'job': 'Line Producer', 'name': 'Dileep Singh Rathore'}], 'title__3': 'The Dark Knight Rises', 'cast_data__4': [{'cast_id': 5, 'character': 'John Carter', 'credit_id': '52fe479ac3a36847f813ea75', 'gender': 2, 'id': 60900, 'name': 'Taylor Kitsch', 'order': 0}, { ... (3778 characters truncated) ... r': 'Apache #1 (as Joe Billingiere)', 'credit_id': '595ad40c9251410bfa04831e', 'gender': 0, 'id': 1844319, 'name': 'Joseph Billingiere', 'order': 26}], 'movie_id__4': 49529, 'crew_data__4': [{'credit_id': '52fe479ac3a36847f813eaa3', 'department': 'Writing', 'gender': 2, 'id': 7, 'job': 'Screenplay', 'name': 'Andrew Stanton'}, {'credit_id' ... (19402 characters truncated) ...  Burroughs'}, {'credit_id': '591264bac3a368646b04fda5', 'department': 'Crew', 'gender': 1, 'id': 1813644, 'job': 'Stunts', 'name': 'Karin Silvestri'}], 'title__4': 'John Carter', 'cast_data__5': [{'cast_id': 30, 'character': 'Peter Parker / Spider-Man', 'credit_id': '52fe4252c3a36847f80151c7', 'gender': 2, 'id': 2219, 'name': 'Tobey Maguire',  ... (23117 characters truncated) ... 63, 'character': 'Spectator (uncredited)', 'credit_id': '58d181e0c3a36838d500c6f3', 'gender': 2, 'id': 1368459, 'name': 'Ray Wineteer', 'order': 142}], 'movie_id__5': 559, 'crew_data__5': [{'credit_id': '52fe4252c3a36847f80151a5', 'department': 'Production', 'gender': 1, 'id': 6410, 'job': 'Casting', 'name': 'Francine Maisler'}, {'credi ... (7861 characters truncated) ... dit_id': '58d18697c3a36838d500ca0b', 'department': 'Production', 'gender': 0, 'id': 1781382, 'job': 'Production Coordinator', 'name': 'Greg Outcalt'}], 'title__5': 'Spider-Man 3', 'cast_data__6': [{'cast_id': 34, 'character': 'Flynn Rider (voice)', 'credit_id': '530d35bf9251411435001765', 'gender': 2, 'id': 69899, 'name': 'Zachary Levi', 'order ... (1774 characters truncated) ... 'cast_id': 46, 'character': 'Guard 3 (voice)', 'credit_id': '530d37c9c3a3685c03001a1a', 'gender': 2, 'id': 61958, 'name': 'Tim Mertens', 'order': 12}], 'movie_id__6': 38757, 'crew_data__6': [{'credit_id': '52fe46db9251416c91062101', 'department': 'Production', 'gender': 2, 'id': 7879, 'job': 'Executive Producer', 'name': 'John Lasseter'}, ... (11358 characters truncated) ... , {'credit_id': '58ac80fa92514158f60148f7', 'department': 'Crew', 'gender': 0, 'id': 1763017, 'job': 'Supervising Animator', 'name': 'Mark Mitchell'}], 'title__6': 'Tangled', 'cast_data__7': [{'cast_id': 76, 'character': 'Tony Stark / Iron Man', 'credit_id': '55e256d292514162cd000e40', 'gender': 2, 'id': 3223, 'name': 'Robert Downey Jr.',  ... (11170 characters truncated) ... haracter': 'Asgardian God (uncredited)', 'credit_id': '54e7eb40c3a36836d6000b2b', 'gender': 0, 'id': 1371439, 'name': 'Daniel Westwood', 'order': 71}], 'movie_id__7': 99861, 'crew_data__7': [{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'department': 'Sound', 'gender': 2, 'id': 531, 'job': 'Original Music Composer', 'name': 'Danny Elfman'}, { ... (10598 characters truncated) ... it_id': '59214ef2925141482f054bc2', 'department': 'Production', 'gender': 0, 'id': 1512798, 'job': 'Associate Producer', 'name': 'Jamie Christopher'}], 'title__7': 'Avengers: Age of Ultron', 'cast_data__8': [{'cast_id': 3, 'character': 'Harry Potter', 'credit_id': '52fe4273c3a36847f801fa73', 'gender': 2, 'id': 10980, 'name': 'Daniel Radcliffe', 'order': 0 ... (7183 characters truncated) ... {'cast_id': 28, 'character': 'Waitress', 'credit_id': '52fe4273c3a36847f801fb01', 'gender': 0, 'id': 89387, 'name': 'Elarica Gallacher', 'order': 48}], 'movie_id__8': 767, 'crew_data__8': [{'credit_id': '52fe4273c3a36847f801fab1', 'department': 'Camera', 'gender': 0, 'id': 2423, 'job': 'Director of Photography', 'name': 'Bruno Delbonnel ... (3607 characters truncated) ... 'credit_id': '56a77e0c92514129ef003102', 'department': 'Sound', 'gender': 0, 'id': 1568519, 'job': 'Production Sound Mixer', 'name': 'Stuart Wilson'}], 'title__8': 'Harry Potter and the Half-Blood Prince', 'cast_data__9': [{'cast_id': 18, 'character': 'Bruce Wayne / Batman', 'credit_id': '52fe4d5bc3a368484e1e4c65', 'gender': 2, 'id': 880, 'name': 'Ben Affleck', 'order': ... (23776 characters truncated) ... 273, 'character': 'Protester (uncredited)', 'credit_id': '59c41b2c9251415b6e01a39d', 'gender': 0, 'id': 1892479, 'name': 'Marcelo Bem', 'order': 151}], 'movie_id__9': 209112, 'crew_data__9': [{'credit_id': '553bf23692514135c8002886', 'department': 'Sound', 'gender': 2, 'id': 947, 'job': 'Original Music Composer', 'name': 'Hans Zimmer'}, {' ... (16161 characters truncated) ... '}, {'credit_id': '58d171b69251411ae800e0a6', 'department': 'Editing', 'gender': 0, 'id': 1781336, 'job': 'Assistant Editor', 'name': 'Jason Fields'}], 'title__9': 'Batman v Superman: Dawn of Justice', 'cast_data__10': [{'cast_id': 3, 'character': 'Superman / Clark Kent', 'credit_id': '52fe42f8c3a36847f8030b65', 'gender': 2, 'id': 17271, 'name': 'Brandon Routh', 'ord ... (2391 characters truncated) ... 'cast_id': 45, 'character': 'Little Girl', 'credit_id': '58b8865d9251415f9500215c', 'gender': 1, 'id': 971458, 'name': 'Jordana Beatty', 'order': 18}], 'movie_id__10': 1452, 'crew_data__10': [{'credit_id': '553bef6a9251416874003c8f', 'department': 'Production', 'gender': 2, 'id': 3276, 'job': 'Casting', 'name': 'Roger Mussenden'}, {'credit ... (3110 characters truncated) ... }, {'credit_id': '553bf01dc3a36831dd00c6b1', 'department': 'Art', 'gender': 0, 'id': 1271644, 'job': 'Production Design', 'name': 'Guy Hendrix Dyas'}], 'title__10': 'Superman Returns', 'cast_data__11': [{'cast_id': 1, 'character': 'James Bond', 'credit_id': '52fe43b29251416c7501aa5d', 'gender': 2, 'id': 8784, 'name': 'Daniel Craig', 'order': 0}, {'ca ... (4595 characters truncated) ... st_id': 56, 'character': 'Forensics Tech', 'credit_id': '5808fd10c3a36874cd00b31d', 'gender': 0, 'id': 1529894, 'name': "Brendan O'Hea", 'order': 32}], 'movie_id__11': 10764, 'crew_data__11': [{'credit_id': '52fe43b29251416c7501aa63', 'department': 'Writing', 'gender': 2, 'id': 455, 'job': 'Screenplay', 'name': 'Paul Haggis'}, {'credit_id': ... (2129 characters truncated) ... on'}, {'credit_id': '52fe43b29251416c7501aa8d', 'department': 'Production', 'gender': 2, 'id': 69678, 'job': 'Producer', 'name': 'Michael G. Wilson'}], 'title__11': 'Quantum of Solace', 'cast_data__12': [{'cast_id': 37, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe4212c3a36847f80018c3', 'gender': 2, 'id': 85, 'name': 'Johnny Depp', 'order':  ... (4718 characters truncated) ... character': "Cotton's Parrot (voice)", 'credit_id': '57e2907ec3a3681aa1005c15', 'gender': 2, 'id': 21700, 'name': 'Christopher S. Capp', 'order': 32}], 'movie_id__12': 58 ... 3900 parameters truncated ... 'crew_data__987': [{'credit_id': '52fe47d4c3a368484e0dbd75', 'department': 'Production', 'gender': 1, 'id': 2952, 'job': 'Casting', 'name': 'Avy Kaufman'}, {'credit_id' ... (12426 characters truncated) ... id': '59a2a4f2c3a36847c5042a39', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1877723, 'job': 'Costume Supervisor', 'name': 'Clara Brennan'}], 'title__987': 'Dream House', 'cast_data__988': [{'cast_id': 1, 'character': 'Sam Baily', 'credit_id': '52fe4529c3a36847f80bfd9d', 'gender': 2, 'id': 8891, 'name': 'John Travolta', 'order': 0}, {'ca ... (1907 characters truncated) ... 3}, {'cast_id': 24, 'character': 'Miss Rose', 'credit_id': '596ba9a1c3a3684bcb001d68', 'gender': 1, 'id': 64932, 'name': 'Tammy Lauren', 'order': 14}], 'movie_id__988': 9770, 'crew_data__988': [{'credit_id': '52fe4529c3a36847f80bfdaf', 'department': 'Directing', 'gender': 0, 'id': 27436, 'job': 'Director', 'name': 'Costa-Gavras'}, {'credit_i ... (827 characters truncated) ... atthews'}, {'credit_id': '52fe4529c3a36847f80bfdbb', 'department': 'Writing', 'gender': 0, 'id': 59634, 'job': 'Screenplay', 'name': 'Eric Williams'}], 'title__988': 'Mad City', 'cast_data__989': [{'cast_id': 9, 'character': 'Eddie', 'credit_id': '52fe44129251416c75027dcf', 'gender': 2, 'id': 3266, 'name': 'Joe Mantegna', 'order': 0}, {'cast_id ... (867 characters truncated) ...  6}, {'cast_id': 16, 'character': 'Mrs. McCray', 'credit_id': '5906721c92514169b8024321', 'gender': 1, 'id': 3711, 'name': 'Anna Levine', 'order': 7}], 'movie_id__989': 11212, 'crew_data__989': [{'credit_id': '52fe44129251416c75027da7', 'department': 'Writing', 'gender': 2, 'id': 11505, 'job': 'Screenplay', 'name': 'John Hughes'}, {'credit_id ... (860 characters truncated) ...  {'credit_id': '52fe44129251416c75027db3', 'department': 'Production', 'gender': 2, 'id': 65482, 'job': 'Executive Producer', 'name': 'William Ryan'}], 'title__989': "Baby's Day Out", 'cast_data__990': [{'cast_id': 1, 'character': 'Hester Prynne', 'credit_id': '52fe43829251416c750131d1', 'gender': 1, 'id': 3416, 'name': 'Demi Moore', 'order': 0}, {'c ... (1370 characters truncated) ... der': 9}, {'cast_id': 4, 'character': 'Mituba', 'credit_id': '52fe43829251416c750131dd', 'gender': 0, 'id': 65543, 'name': 'Lisa Andoh', 'order': 10}], 'movie_id__990': 10533, 'crew_data__990': [{'credit_id': '52fe43829251416c75013211', 'department': 'Sound', 'gender': 0, 'id': 2289, 'job': 'Original Music Composer', 'name': 'John Barry'}, {' ... (1135 characters truncated) ... , {'credit_id': '52fe43829251416c75013205', 'department': 'Production', 'gender': 0, 'id': 65545, 'job': 'Executive Producer', 'name': 'Tova Laiter'}], 'title__990': 'The Scarlet Letter', 'cast_data__991': [{'cast_id': 4, 'character': 'Valerie Plame', 'credit_id': '52fe46b19251416c9105c8b9', 'gender': 1, 'id': 3489, 'name': 'Naomi Watts', 'order': 0}, {' ... (2343 characters truncated) ... st_id': 24, 'character': 'Cathie Martin', 'credit_id': '59a7d854c3a3683cf8011840', 'gender': 0, 'id': 1879749, 'name': 'Tricia Munford', 'order': 17}], 'movie_id__991': 38363, 'crew_data__991': [{'credit_id': '52fe46b19251416c9105c8a9', 'department': 'Directing', 'gender': 2, 'id': 11694, 'job': 'Director', 'name': 'Doug Liman'}, {'credit_id' ... (129 characters truncated) ...  {'credit_id': '52fe46b19251416c9105c8b5', 'department': 'Writing', 'gender': 2, 'id': 120254, 'job': 'Screenplay', 'name': 'John-Henry Butterworth'}], 'title__991': 'Fair Game', 'cast_data__992': [{'cast_id': 24, 'character': 'Domino Harvey', 'credit_id': '52fe454ac3a36847f80c5e55', 'gender': 1, 'id': 116, 'name': 'Keira Knightley', 'order': 0} ... (3588 characters truncated) ... t_id': 56, 'character': 'Howie Stein', 'credit_id': '56ad9b1f9251417e110085da', 'gender': 0, 'id': 1181464, 'name': 'Charles Paraventi', 'order': 25}], 'movie_id__992': 9923, 'crew_data__992': [{'credit_id': '52fe454ac3a36847f80c5e15', 'department': 'Production', 'gender': 1, 'id': 2215, 'job': 'Casting', 'name': 'Denise Chamian'}, {'credit_ ... (3937 characters truncated) ... credit_id': '558822789251415aa9000e35', 'department': 'Costume & Make-Up', 'gender': 2, 'id': 1463140, 'job': 'Hairstylist', 'name': 'Martin Samuel'}], 'title__992': 'Domino', 'cast_data__993': [{'cast_id': 1, 'character': 'David Corelli', 'credit_id': '52fe44959251416c75039f27', 'gender': 2, 'id': 16560, 'name': 'David Caruso', 'order': 0},  ... (2892 characters truncated) ... rder': 19}, {'cast_id': 29, 'character': 'Cop', 'credit_id': '589f9ec8c3a3684fd400442a', 'gender': 2, 'id': 10506, 'name': 'John Wyman', 'order': 20}], 'movie_id__993': 11863, 'crew_data__993': [{'credit_id': '52fe44959251416c75039f45', 'department': 'Sound', 'gender': 2, 'id': 1729, 'job': 'Original Music Composer', 'name': 'James Horner'},  ... (562 characters truncated) ... lliam Friedkin'}, {'credit_id': '52fe44959251416c75039f57', 'department': 'Editing', 'gender': 0, 'id': 57326, 'job': 'Editor', 'name': 'Augie Hess'}], 'title__993': 'Jade', 'cast_data__994': [{'cast_id': 1, 'character': 'Kable', 'credit_id': '52fe47819251416c7509bdb7', 'gender': 2, 'id': 17276, 'name': 'Gerard Butler', 'order': 0}, {'cast_ ... (4021 characters truncated) ... , {'cast_id': 131, 'character': 'Genericon', 'credit_id': '58a8fa289251410a0a0056cf', 'gender': 2, 'id': 78021, 'name': 'Lloyd Kaufman', 'order': 28}], 'movie_id__994': 18501, 'crew_data__994': [{'credit_id': '5332f311c3a3686a780046e3', 'department': 'Production', 'gender': 2, 'id': 68602, 'job': 'Producer', 'name': 'Tom Rosenberg'}, {'credit ... (14317 characters truncated) ... {'credit_id': '578d3efc92514154070032a7', 'department': 'Production', 'gender': 2, 'id': 1639187, 'job': 'Executive Producer', 'name': 'David Rubin'}], 'title__994': 'Gamer', 'cast_data__995': [{'cast_id': 12, 'character': 'Ethan Wate', 'credit_id': '52fe4abbc3a36847f81de8df', 'gender': 2, 'id': 71375, 'name': 'Alden Ehrenreich', 'order': 0} ... (7216 characters truncated) ... 'character': 'Town Resident (uncredited)', 'credit_id': '57e10ddb9251410449004ff9', 'gender': 2, 'id': 1011212, 'name': 'Elton LeBlanc', 'order': 46}], 'movie_id__995': 109491, 'crew_data__995': [{'credit_id': '55950f8c925141683b001aab', 'department': 'Production', 'gender': 2, 'id': 3718, 'job': 'Producer', 'name': 'David Valdes'}, {'credit_i ... (2746 characters truncated) ... }, {'credit_id': '570bce699251413c7f0001c2', 'department': 'Camera', 'gender': 0, 'id': 1391389, 'job': 'Still Photographer', 'name': 'John Bramley'}], 'title__995': 'Beautiful Creatures', 'cast_data__996': [{'cast_id': 8, 'character': 'Rainbow Randolph', 'credit_id': '52fe44e0c3a36847f80af3d7', 'gender': 2, 'id': 2157, 'name': 'Robin Williams', 'order':  ... (1221 characters truncated) ... _id': 18, 'character': 'Buggy Ding Dong', 'credit_id': '52fe44e0c3a36847f80af3fb', 'gender': 2, 'id': 3418, 'name': 'Vincent Schiavelli', 'order': 9}], 'movie_id__996': 9275, 'crew_data__996': [{'credit_id': '52fe44e0c3a36847f80af3af', 'department': 'Directing', 'gender': 2, 'id': 518, 'job': 'Director', 'name': 'Danny DeVito'}, {'credit_id' ... (989 characters truncated) ... , {'credit_id': '52fe44e0c3a36847f80af401', 'department': 'Costume & Make-Up', 'gender': 1, 'id': 406204, 'job': 'Makeup Artist', 'name': 'Ve Neill'}], 'title__996': 'Death to Smoochy', 'cast_data__997': [{'cast_id': 0, 'character': 'Derek Zoolander', 'credit_id': '54ff0b2ec3a368155f00183c', 'gender': 2, 'id': 7399, 'name': 'Ben Stiller', 'order': 0},  ... (18574 characters truncated) ... 8, 'character': 'Hipster Salesperson', 'credit_id': '58a5c040c3a3681f100014a2', 'gender': 1, 'id': 1176558, 'name': 'Eugenia Tempesta', 'order': 123}], 'movie_id__997': 329833, 'crew_data__997': [{'credit_id': '54ff0d5e9251410e56001a13', 'department': 'Writing', 'gender': 2, 'id': 15009, 'job': 'Writer', 'name': 'Justin Theroux'}, {'credit_id' ... (2108 characters truncated) ... edit_id': '58a5c1d4c3a3683d9700694e', 'department': 'Production', 'gender': 0, 'id': 1759015, 'job': 'Associate Producer', 'name': 'Mike Rosenstein'}], 'title__997': 'Zoolander 2', 'cast_data__998': [{'cast_id': 1, 'character': 'Jack Ryan', 'credit_id': '52fe450c9251416c75049f3b', 'gender': 2, 'id': 887, 'name': 'Owen Wilson', 'order': 0}, {'cast_ ... (1948 characters truncated) ... : 19, 'character': 'Number 9 (Virginia)', 'credit_id': '52fe450c9251416c75049f9b', 'gender': 0, 'id': 946201, 'name': 'Anahit Minasyan', 'order': 14}], 'movie_id__998': 12634, 'crew_data__998': [{'credit_id': '52fe450c9251416c75049f8b', 'department': 'Camera', 'gender': 0, 'id': 904, 'job': 'Director of Photography', 'name': 'Jeffrey L. Kimba ... (1425 characters truncated) ... 'credit_id': '52fe450c9251416c75049f67', 'department': 'Production', 'gender': 2, 'id': 73179, 'job': 'Executive Producer', 'name': 'Brent Armitage'}], 'title__998': 'The Big Bounce', 'cast_data__999': [{'cast_id': 1, 'character': 'Harold Anderson', 'credit_id': '52fe436a9251416c7500f89d', 'gender': 2, 'id': 52865, 'name': 'Garry Shandling', 'order': ... (1482 characters truncated) ... {'cast_id': 21, 'character': 'Nadine Jones', 'credit_id': '59010a67c3a3681123001e2e', 'gender': 1, 'id': 1910, 'name': 'Caroline Aaron', 'order': 11}], 'movie_id__999': 10416, 'crew_data__999': [{'credit_id': '52fe436b9251416c7500f8df', 'department': 'Sound', 'gender': 2, 'id': 1225, 'job': 'Original Music Composer', 'name': 'Carter Burwell'} ... (976 characters truncated) ... ling'}, {'credit_id': '52fe436b9251416c7500f8cd', 'department': 'Production', 'gender': 2, 'id': 52865, 'job': 'Producer', 'name': 'Garry Shandling'}], 'title__999': 'What Planet Are You From?'}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [11]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json

# Load CSV
df = pd.read_csv("tmdb_5000_credits.csv")

# Convert `cast` and `crew` columns from stringified JSON to valid JSON
df["cast"] = df["cast"].apply(json.loads)  # Convert string to JSON
df["crew"] = df["crew"].apply(json.loads)

# Rename columns to avoid SQL reserved words
df.rename(columns={"cast": "cast_data", "crew": "crew_data"}, inplace=True)

# Convert JSON objects to strings for PostgreSQL storage
df["cast_data"] = df["cast_data"].apply(json.dumps)
df["crew_data"] = df["crew_data"].apply(json.dumps)

# Connect to PostgreSQL using SQLAlchemy
engine = create_engine("postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres")

# Upload data to PostgreSQL
df.to_sql("tmdb_credits", engine, if_exists="replace", index=False)

print("✅ CSV uploaded successfully!")

✅ CSV uploaded successfully!

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Load the CSV file
movies_df = pd.read_csv("tmdb_5000_movies.csv")

# Show the first few rows
print(movies_df.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection setup
DATABASE_URL = "postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres"
engine = create_engine(DATABASE_URL)

# Load the two tables into Pandas DataFrames
query_movies = "SELECT * FROM tmdb_movies"
query_credits = "SELECT * FROM tmdb_credits"

movies_df = pd.read_sql(query_movies, engine)
credits_df = pd.read_sql(query_credits, engine)

# Rename columns for a proper merge
movies_df.rename(columns={'id': 'movie_id'}, inplace=True)

# Merge the data on movie_id
merged_df = movies_df.merge(credits_df, on="movie_id", how="inner")

# Display the first few rows of the merged dataset
import ace_tools as tools
tools.display_dataframe_to_user(name="Merged TMDB Data", dataframe=merged_df)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "tmdb_movies" does not exist
LINE 1: SELECT * FROM tmdb_movies
                      ^

[SQL: SELECT * FROM tmdb_movies]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection
DATABASE_URL = "postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres"
engine = create_engine(DATABASE_URL)

# Load CSV
df_movies = pd.read_csv("tmdb_5000_movies.csv")

# Upload to PostgreSQL
df_movies.to_sql("tmdb_movies", engine, if_exists="replace", index=False)

print("Movies table uploaded successfully!")

Movies table uploaded successfully!

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection
DATABASE_URL = "postgresql://postgres:ManzanaOrganico1@localhost:5432/postgres"
engine = create_engine(DATABASE_URL)

# SQL Query to join both tables on 'movie_id'
query = """
    SELECT 
        m.movie_id, 
        m.title, 
        m.budget, 
        m.revenue, 
        m.popularity, 
        m.vote_average, 
        c.cast, 
        c.crew
    FROM tmdb_movies m
    JOIN tmdb_credits c
    ON m.movie_id = c.movie_id
"""

# Load joined data into a Pandas DataFrame
df_joined = pd.read_sql(query, engine)

# Display the joined table
import ace_tools as tools
tools.display_dataframe_to_user(name="Joined Movies & Credits Data", dataframe=df_joined)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column m.movie_id does not exist
LINE 13:     ON m.movie_id = c.movie_id
                ^
HINT:  Perhaps you meant to reference the column "c.movie_id".

[SQL:
    SELECT
        m.movie_id,
        m.title,
        m.budget,
        m.revenue,
        m.popularity,
        m.vote_average,
        c.cast,
        c.crew
    FROM tmdb_movies m
    JOIN tmdb_credits c
    ON m.movie_id = c.movie_id
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [16]:
import sqlite3

conn = sqlite3.connect("../data/movies_database.db")

movies.to_sql("movies_table", conn, if_exists = "replace", index = False)
credits.to_sql("credits_table", conn, if_exists = "replace", index = False)

OperationalError: unable to open database file

In [17]:
import sqlite3
import pandas as pd

# Define file paths
movies_file = "tmdb_5000_movies.csv"
credits_file = "tmdb_5000_credits.csv"

# Load CSV files into Pandas DataFrames
movies = pd.read_csv(movies_file)
credits = pd.read_csv(credits_file)

# Connect to SQLite database (creates the file if it doesn't exist)
conn = sqlite3.connect("movies_database.db")  # Saves database in the current directory

# Store DataFrames in the SQLite database
movies.to_sql("movies_table", conn, if_exists="replace", index=False)
credits.to_sql("credits_table", conn, if_exists="replace", index=False)

# Verify by printing first 5 rows from each table
print("Movies Table:")
print(pd.read_sql("SELECT * FROM movies_table LIMIT 5", conn))

print("\nCredits Table:")
print(pd.read_sql("SELECT * FROM credits_table LIMIT 5", conn))

# Close the database connection
conn.close()

Movies Table:
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

Credits Table:
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [19]:
import os

db_path = "../data/movies_database.db"

# Ensure the directory exists
os.makedirs(os.path.dirname(db_path), exist_ok=True)

# Now, connect to the database
conn = sqlite3.connect(db_path)

In [20]:
import sqlite3

conn = sqlite3.connect("../data/movies_database.db")

movies.to_sql("movies_table", conn, if_exists = "replace", index = False)
credits.to_sql("credits_table", conn, if_exists = "replace", index = False)

4803

In [21]:
# Merge tables for creating a new DataFrame

query = """
    SELECT *
    FROM movies_table
    INNER JOIN credits_table
    ON movies_table.title = credits_table.title;
"""

total_data = pd.read_sql_query(query, conn)
conn.close()

total_data = total_data.loc[:, ~total_data.columns.duplicated()]
total_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
# Data transform as expected
import json

def load_json_safe(json_str, default_value = None):
    try:
        return json.loads(json_str)
    except (TypeError, json.JSONDecodeError):
        return default_value
    
total_data["genres"] = total_data["genres"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)
total_data["keywords"] = total_data["keywords"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)

total_data["cast"] = total_data["cast"].apply(lambda x: [item["name"] for item in json.loads(x)][:3] if pd.notna(x) else None)

total_data["crew"] = total_data["crew"].apply(lambda x: " ".join([crew_member['name'] for crew_member in load_json_safe(x) if crew_member['job'] == 'Director']))

total_data["overview"] = total_data["overview"].apply(lambda x: [x])

total_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[culture clash, future, space war, space colon...",en,Avatar,"[In the 22nd century, a paraplegic Marine is d...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, based on novel, secret agent, sequel, mi...",en,Spectre,[A cryptic message from Bond’s past sends him ...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,[Following the death of District Attorney Harv...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"[John Carter is a war-weary, former military c...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton

In [23]:
total_data["overview"] = total_data["overview"].apply(lambda x: [str(x)])
total_data["genres"] = total_data["genres"].apply(lambda x: [str(genre) for genre in x])
total_data["keywords"] = total_data["keywords"].apply(lambda x: [str(keyword) for keyword in x])
total_data["cast"] = total_data["cast"].apply(lambda x: [str(actor) for actor in x])
total_data["crew"] = total_data["crew"].apply(lambda x: [str(crew_member) for crew_member in x])

total_data["tags"] = total_data["overview"] + total_data["genres"] + total_data["keywords"] + total_data["cast"] + total_data["crew"]
total_data["tags"] = total_data["tags"].apply(lambda x: ",".join(x).replace(",", " "))

total_data.drop(columns = ["genres", "keywords", "cast", "crew", "overview"], inplace = True)

total_data.iloc[0].tags

"['In the 22nd century  a paraplegic Marine is dispatched to the moon Pandora on a unique mission  but becomes torn between following orders and protecting an alien civilization.'] Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Sam Worthington Zoe Saldana Sigourney Weaver J a m e s   C a m e r o n"

In [25]:
import os
import sqlite3
import pandas as pd

# Ensure the directory exists
csv_path = "../data/processed/clean_data.csv"
os.makedirs(os.path.dirname(csv_path), exist_ok=True)

# Save the CSV file
total_data.to_csv(csv_path, index=False)
print("✅ CSV file saved successfully!")

# Ensure database directory exists
db_path = "../data/movies_database.db"
os.makedirs(os.path.dirname(db_path), exist_ok=True)

# Connect to SQLite database
conn = sqlite3.connect(db_path)

# Save to SQLite
movies.to_sql("clean_movies_data", conn, if_exists="replace", index=False)
print("✅ Data saved to SQLite successfully!")

# Close connection
conn.close()

✅ CSV file saved successfully!
✅ Data saved to SQLite successfully!

In [26]:
total_data.to_csv("../data/processed/clean_data.csv", index = False)

conn = sqlite3.connect("../data/movies_database.db")

movies.to_sql("clean_movies_data", conn, if_exists = "replace", index = False)

4803

In [27]:
# KNN modeling
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(total_data["tags"])

model = NearestNeighbors(n_neighbors = 6, algorithm = "brute", metric = "cosine")
model.fit(tfidf_matrix)

def get_movie_recommendations(movie_title):
    movie_index = total_data[total_data["title"] == movie_title].index[0]
    distances, indices = model.kneighbors(tfidf_matrix[movie_index])
    similar_movies = [(total_data["title"][i], distances[0][j]) for j, i in enumerate(indices[0])]
    return similar_movies[1:]

input_movie = "How to Train Your Dragon"
recommendations = get_movie_recommendations(input_movie)
print("Film recommendations '{}'".format(input_movie))
for movie, distance in recommendations:
    print("- Film: {}".format(movie))

Film recommendations 'How to Train Your Dragon'
- Film: How to Train Your Dragon 2
- Film: Dragon Nest: Warriors' Dawn
- Film: Pete's Dragon
- Film: George and the Dragon
- Film: Eragon

In [28]:
from pickle import dump

dump(model, open("../models/knn_neighbors-6_algorithm-brute_metric-cosine.sav", "wb"))

FileNotFoundError: [Errno 2] No such file or directory: '../models/knn_neighbors-6_algorithm-brute_metric-cosine.sav'

In [29]:
import os
from pickle import dump

# Define the model save path
model_path = "../models/knn_neighbors-6_algorithm-brute_metric-cosine.sav"

# Ensure the directory exists
os.makedirs(os.path.dirname(model_path), exist_ok=True)

# Save the model
with open(model_path, "wb") as f:
    dump(model, f)

print("✅ Model saved successfully at:", model_path)

✅ Model saved successfully at: ../models/knn_neighbors-6_algorithm-brute_metric-cosine.sav

In [30]:
import os
from pickle import dump

# Save model in the current directory
model_path = "knn_neighbors-6_algorithm-brute_metric-cosine.sav"

with open(model_path, "wb") as f:
    dump(model, f)

print("✅ Model saved successfully:", os.path.abspath(model_path))

✅ Model saved successfully: /workspaces/k-nearest-neighbors-project-tutorial/knn_neighbors-6_algorithm-brute_metric-cosine.sav